* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 1rem;
}

.top-buttons > li {
  width: 20%;
  min-width: max-content;
  margin: 0;
  padding: 0.5rem;
  list-style-type: none;
}

.top-buttons > li > button {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: none;
  background: #1c70b8;
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-family: sans-serif;
  font-weight: bold;
}

.explanation {
  --offset: 1rem;
  position: absolute;
  bottom: var(--offset);
  left: var(--offset);
  padding: 1.5rem;
  width: min(calc(100% - var(--offset) * 2), 400px);
  border-radius: 0.2rem;
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.8);
  font-family: sans-serif;
}

.explanation > :first-child {
  margin-top: 0;
}

.explanation > :last-child {
  margin-bottom: 0;
}
